---
title: "Thank you for Signing Up"
date: 2024-01-01T12:52:36+06:00
description: "This is meta description"
image_webp: disable
image: images/check.png
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        .site-header__title {
            text-align: center;
        }
    </style>
</head>
    <div class="main-content">
        <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
        <p class="main-content__body" data-lead-id="main-content-body">
            Thanks a bunch for filling that out. It means a lot to us, just like you do!
            We really appreciate you giving us a moment of your time today. We weill contact you as soon as possible.
        </p>
    </div>
</html>
